extends layout

block content
  header(class='main-header')

    div(class='header-search')
      input(type='text' class='search-bar')
      button(class='search-button') Search

    div(class='home-button-div')
      button(class='home-button') Home

    div(class='title')
      h2.explorer-welcome Welcome #{title} the Explorer!

    div(class='log-out-button-div')
      form(action='/logout' method='post')
        button(type='submit' class='logout-button') Logout

    //- div(class='settings-button-div')
    //-   i(class="fas fa-cog")
    //-   button(class='settings-button') Settings

  div(class="main-content")

    div(class='left-panel')

    div(class='center-display')

    div(class='right-panel')
  script(src='/javascripts/account.js' type='module')
  script(src='/javascripts/lists.js' type='module')
  script(src='/javascripts/tasks.js' type='module')
