extends layout

block content
  header(class='main-header')

    div(class='header-search')
      input(type='text' class='search-bar')
      button(class='search-button') Search

    div(class='home-button-div')
      form(action='/' method='get')
        button(class='home-button') Home

    div(class='title')
      h2.explorer-welcome Welcome #{title} the Explorer!

    div(class='log-out-button-div')
      form(action='/logout' method='get')
        button(type='submit' class='logout-button') Logout

    div(class="search search--hidden" id="search-hide")
      div(class="search__section")
        div(class="search__section")
  include sidebar

  main(class="main-content")

    div(class='left-panel')

    div(class='center-display')

    div(class='right-panel')
  script(src='/javascripts/account.js' type='module')
  script(src='/javascripts/lists.js' type='module')
  script(src='/javascripts/tasks.js' type='module')
  script(src='/javascripts/search.js' type='module')
  script(src='/javascripts/theme.js' type='module')
