doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="icon" href="/public/favicon.ico")
        link(rel='stylesheet' href='/stylesheets/account.css')
        link(rel='stylesheet' href='/stylesheets/splash.css')
  body
    block content
  footer(class='footer')
    p Welcome to WhatsNext, created by Taylor Walker, Nico Pierson, and Pierre Guilbault.
