extends layout 

include utils

block content 
  div(class='error')
    +validationErrorSummary(errors)
  div(class='content')
    div(class='top-div-login')
    div(class='login-form')
      form(action='/login', method='post')
        input(type='hidden', name='_csrf', value=csrfToken)
        +field('Email', 'email', email)
        +field('Password', 'password', password)
        div(class='buttons')
          button(type='submit', class='') Login 
          button(type='submit', class='') 
            a(href='/', class='') Cancel
    div(class='bottom-div-login')
