extends layout

include utils

block content
  div(class='error')
    +validationErrorSummary(errors)
  div(class='login-content')
    div(class='top-div-login')
      div(class='logo' height='32' viewBox='0 0 16 16' version='1.1' width='32' aria-hidden='false')
    div(class='content__login')
      div(class='login-form')
        form(action='/login', method='post')
          input(type='hidden', name='_csrf', value=csrfToken)
          +field('Email', 'Email', email)
          +field('Password', 'Password', password)
          div(class='buttons')
            button(type='submit', class='login__buttons') Login
            button(type='submit', class='login__buttons')
              a(href='/', class='') Cancel
    div(class='bottom-div-login')
