extends layout

include utils

block content
  div(class='error ')
    +validationErrorSummary(errors)
  div(class='login-content')
    div(class='top-div-login')
      div(class='logo')
    div(class='content__login')
      div(class='login-form')
        form(action='/login', method='post')
          input(type='hidden', name='_csrf', value=csrfToken)
          +field('Email', 'email', email)
          +field('Password', 'password', password)
          div(class='buttons')
            button(type='submit', class='login__buttons') Login
            button(type='submit', class='login__buttons')
              a(href='/', class='') Cancel
