extends layout

include utils

block content
  +validationErrorSummary(errors)
  div(class='content')
    div(class='top-div')
    div(class='content__center')
      div(class='register-form')
        form(action='/register', method='post' )
          input(type='hidden', name='_csrf', value=csrfToken)
          +field('First Name', 'First Name', firstName)
          +field('Last Name', 'Last Name', lastName)
          +field('Username', 'Username', username)
          +field('Email', 'Email', email)
          +field('Password', 'Password', null, 'password')
          +field('Confirm Password', 'Confirm Password', null, 'password')
          div(class='buttons')
            button(type='submit', class='register__button') Register
            button(type='submit', class='')
              a(href='/', class='') Cancel
    div(class='bottom-div')
