extends layout 

include utils

block content
  +validationErrorSummary(errors)
  div(class='content')
    div(class='top-div')
    div(class='register-form')
      form(action='/register', method='post' )
        input(type='hidden', name='_csrf', value=csrfToken)
        +field('First Name', 'firstName', firstName)
        +field('Last Name', 'lastName', lastName)
        +field('Username', 'username', username)
        +field('Email', 'email', email)
        +field('Password', 'password', null, 'password')
        +field('Confirm Password', 'confirmPassword', null, 'password')
        div(class='')
          button(type='submit', class='') Register
          a(href='/', class='') Cancel
    div(class='bottom-div')