section(class='sidebar__container')
  ul(class='sidebar__nav')
    li(class='sidebar__logo')
      a(href='/' class='sidebar__link')
        span(class='sidebar__link-text sidebar__logo-text fa-secondary') WhatsNext
        i(class='fas fa-globe fa-primary')
    li(class='sidebar__lists sidebar__item')
      a(href='#' class='sidebar__link')
        span(class='sidebar__link-text sidebar__lists-text fa-secondary') Lists
        i(class='fas fa-list fa-primary')
    li(class='sidebar__tasks sidebar__item')
      a(href='#' class='sidebar__link')
        span(class='sidebar__link-text sidebar__tasks-text fa-secondary') Tasks
        i(class='fas fa-tasks fa-primary')
    li(class='sidebar__tags sidebar__item')
      a(href='#' class='sidebar__link')
        span(class='sidebar__link-text sidebar__tags-text fa-secondary') Tags
        i(class='fas fa-tags fa-primary')
    li(class='sidebar__themify sidebar__item')
        a(href='#' class='sidebar__link')
          span(class='sidebar__link-text sidebar__themify-text fa-secondary') Theme
          i(class='fas fa-lightbulb theme-icon light hidden fa-primary' id='light-icon')
          i(class='fas fa-moon theme-icon dark hidden fa-primary' id='dark-icon')
          i(class='fas fa-sun theme-icon solar hidden fa-primary' id='solar-icon')
    li(class='sidebar__logout sidebar__item')
      a(href='#' class='sidebar__link')
        span(class='sidebar__link-text sidebar__logout-text fa-secondary') Logout
        i(class='fas fa-sign-out-alt fa-primary')