div(class='splash')
  div(class='splash__title')
    h1 Welcome to WhatsNext
    p Your app to keep you on track
  div
    div(class='splash__buttons')
      span
        a(href='/users/login') Login
        a(href='/users/register') Register
        a(href='/users/demo') Demo
