
div(class='splash')
div(class='top-border')
    
 div(class='splash__title')
    h1 Welcome to WhatsNext
    p Your app to keep you on track
div
    div(class='splash__buttons')
        span
            a(href='/login') Login
            a(href='/register') Register
            form(action='/demo' method='post')
                button(type='submit' class='demo-butt') Demo