div(class='content')

    div(class='top-div')
        div(class='world-clocks')
        div(class='world-clocks')
        div(class='world-clocks')
        div(class='world-clocks')

    div(class='splash-content')
        div(class="splash-circle")
            div(class='splash-content-text')
                h1.welcome Welcome to WhatsNext
                p Your app to keep you on track
                div(class='splash-content-links-logout-register')
                    div(class='login-button-div')
                        button(type='submit' class='login-butt')
                            a(href='/login') Login
                    div(class='register-button')
                        button(type='submit' class='register-butt')
                            a(href='/register') Register
                div(class='demo-button')
                    form(action='/demo' method='post')
                        button(type='submit' class='demo-butt') Demo

    div(class='bottom-div-splash')


    //- div(class='splash')
    //- div(class='top-border')

    //- div(class='splash__title')
    //-     h1 Welcome to WhatsNext
    //-     p Your app to keep you on track
    //- div
    //-     div(class='splash__buttons')
    //-         span
    //-             a(href='/login') Login
    //-             a(href='/register') Register
    //-             form(action='/demo' method='post')
    //-                 button(type='submit' class='demo-butt') Demo
