div(class='splash')
  div(class='splash__title')
    h1 Welcome to WhatsNext
    p Your app to keep you on track
  div
    div(class='splash__buttons')
      span
        a(href='/login') Login
        a(href='/register') Register
        a(href='/demo') Demo
