div(class="demo-container(clocks active bounce")
  article(class="clock station js-new-york")
    section(class="label"New York)
    section(class="hours-container")
      section(class="hours")

    section(class="minutes-container")
      section(class="minutes")

    section(class="seconds-container")
      section(class="seconds")


  article(class="clock station js-london")
    section(class="label"London)
    section(class="hours-container")
      section(class="hours")

    section(class="minutes-container")
      section(class="minutes")

    section(class="seconds-container")
      section(class="seconds")


  article(class="clock station js-tokyo")
    section(class="label"Tokyo)
    section(class="hours-container")
      section(class="hours")

    section(class="minutes-container")
      section(class="minutes")

    section(class="seconds-container")
      section(class="seconds")


/div
