h2 {
    display: flex;
    justify-content: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: rgba(40, 62, 160, 0.899);
}

.main-header .title {
    color: #bfbfbf;
}

.title {
    grid-column-start: 3;
	grid-row-start: 1;
	display: flex;
    justify-content: flex-end;
	align-items: center;
    margin-right: 100px
}

.header-search {
    grid-column-start: 2;
	grid-row-start: 1;
	display: flex;
	align-items: center;
    justify-content: center;
}

.search-button {
    margin: 5px;
}

.log-out-button-div {
    grid-column-start: 3;
	grid-row-start: 1;
	display: flex;
    justify-content: flex-end;
	align-items: center;
    padding-right: 5px;
}

.logout-button:hover {
    transform: scale(1.2);
}

.settings-button-div {
    grid-column-start: 1;
	grid-row-start: 1;
	display: flex;
	align-items: center;
    justify-content: flex-end;
}

.home-button-div {
    grid-column-start: 1;
	grid-row-start: 1;
	display: flex;
	align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
}

.main-content {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
	grid-template-rows: auto;
    justify-content: space-around;
    margin-bottom: 12px;
    margin-top: 12px
}


.left-panel {
    background-color: rgba(242, 231, 217, 0.934);
    border: 1px solid rgba(75, 75, 75, 0.653);
    grid-column-start: 1;
	grid-row-start: 1;
    height: auto;
    margin-left: 10px;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.center-display {
    background-color: rgb(250, 247, 245);
    border: 1px solid rgba(254, 242, 229, 0.653);
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    grid-column-start: 2;
	grid-row-start: 1;
	/* display: flex; */
    justify-content: center;
	align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

/* .right-panel {
    background-color: rgba(242, 231, 217, 0.934);
    border: 1px solid rgba(75, 75, 75, 0.653);
    grid-column-start: 3;
	grid-row-start: 1;
    margin-right: 10px;
    display: flex;
	align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
} */

.tasks__center_display {
    width: 100%;
    margin: 2%;
    padding: 2%;
}

.lists__left_panel {
    margin: 2%;
    padding: 5%;
}

.list__body {
    padding-bottom: 5px;;
    margin: 1px;
    padding-left: 7px;
    border: 1px solid rgb(253, 174, 145);
    border-radius: 5px;
    background-color: rgb(250, 244, 232);
    box-shadow: peru;
    font-size: 16px;
}

.task__body {
    padding: 0.5vw;
    border: 1px solid rgb(253, 174, 145);
    border-radius: 5px;
    background-color: rgb(250, 244, 232);
    box-shadow: peru;
    font-size: 8px;

}

.task__body .task__text {
    display: inline-block;
    width: 100%;
    color: black;
    line-height: 1%; /*Space between lines of the paragraph */
    font-size: 16px;
    font-weight: bold;
}

.task__body span {
    display: inline-block;
    background-color: brown;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    padding: 1.5%;
    margin: 4px;
    font-size: 12px;
}

.tasks__input-add {
    display: block;
    font-size: 14px;
    border: 1px #9c9c9c solid;
    border-radius: 5px;
    margin-top: 0.5%;
    margin-bottom: 4%;
    padding: 1%;
}

.task__input-div, .task__select-div {
    padding: 0.5%;
}

.lists__header,
.tasks__header {
    font-size: 22PX;
    text-align: center;
    font-weight: 600;
}

label {
    font-weight: 600;
    font-size: 14px;
}

.list__input-div {
    display: block;
    font-size: 14px;
    border: 1px #9c9c9c solid;
    border-radius: 5px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding: 1%;
}
