@import url('lists.css');
@import url('tasks.css');

h2 {
    display: flex;
    justify-content: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: rgba(40, 62, 160, 0.899);
}

.main-header .title {
    color: #bfbfbf;
}

.title {
    grid-column-start: 3;
	grid-row-start: 1;
	display: flex;
    justify-content: flex-end;
	align-items: center;
    margin-right: 100px
}

.header-search {
    grid-column-start: 2;
	grid-row-start: 1;
	display: flex;
	align-items: center;
    justify-content: center;
}

.search-button {
    margin: 5px;
}

.log-out-button-div {
    grid-column-start: 3;
	grid-row-start: 1;
	display: flex;
    justify-content: flex-end;
	align-items: center;
    padding-right: 5px;
}

.logout-button:hover {
    transform: scale(1.2);
}

.settings-button-div {
    grid-column-start: 1;
	grid-row-start: 1;
	display: flex;
	align-items: center;
    justify-content: flex-end;
}

.home-button-div {
    grid-column-start: 1;
	grid-row-start: 1;
	display: flex;
	align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
}

.main-content {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
	grid-template-rows: auto;
    justify-content: space-around;
    margin-bottom: 12px;
    margin-top: 12px
}


.left-panel {
    background-color: rgba(242, 231, 217, 0.934);
    border: 1px solid rgba(75, 75, 75, 0.653);
    grid-column-start: 1;
	grid-row-start: 1;
    height: auto;
    margin-left: 10px;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.center-display {
    background-color: rgb(250, 247, 245);
    border: 1px solid rgba(254, 242, 229, 0.653);
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    grid-column-start: 2;
	grid-row-start: 1;
	/* display: flex; */
    justify-content: center;
	align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

/* .right-panel {
    background-color: rgba(242, 231, 217, 0.934);
    border: 1px solid rgba(75, 75, 75, 0.653);
    grid-column-start: 3;
	grid-row-start: 1;
    margin-right: 10px;
    display: flex;
	align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
} */

label {
    font-weight: 600;
    font-size: 14px;
}

