body {
    background-color: #FFF1D0;

}

h2 {
    display: flex;
    justify-content: center;
}

.main-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
    border-bottom: 1px solid black
}

.title {
    grid-column-start: 2;
	grid-row-start: 1;
	display: flex;
    justify-content: center;
	align-items: center;

}

.header-search {
    grid-column-start: 2;
	grid-row-start: 2;
	display: flex;
	align-items: center;
    justify-content: center;
	padding-left: 20px;
    padding-bottom: 10px;
}

.search-button {
    margin: 5px;
}

.log-out-button-div {
    grid-column-start: 1;
	grid-row-start: 2;
	display: flex;
	align-items: center;
    padding-bottom: 10px;
}

.logout-button:hover {
    transform: scale(1.5);
}

.settings-button-div {
    grid-column-start: 3;
	grid-row-start: 1;
	display: flex;
	align-items: center;
    justify-content: flex-end;
	padding-left: 20px;
    padding-bottom: 10px;
}

.settings-button {
    position: relative;
    top: 20px;
}

.home-button-div {
    grid-column-start: 3;
	grid-row-start: 2;
	display: flex;
	align-items: center;
    justify-content: flex-end;
	padding-left: 20px;
    padding-bottom: 10px;
}


.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
    display:flex;
    justify-content: space-around;
}


.left-panel {
    grid-column-start: 1;
	grid-row-start: 1;
    border: 1px solid black;
    min-width: 300px;
    height: auto;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 7px;
}

.center-display {
    border: 1px solid black;
    height: auto;
    min-width: 600px;
    margin-top: 100px;
    grid-column-start: 2;
	grid-row-start: 1;
	display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}


.right-panel {
    grid-column-start: 3;
	grid-row-start: 1;
    border: 1px solid black;
    height: auto;
    min-width: 300px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 7px;
    display: flex;
	align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    /* overflow: scroll; */

}

.footer {
    height: 100px;
    border: 2px solid black;
    margin: 30px;
    /* display: flex;
    align-content: center;
    flex-direction: column; */
}

.tasks__center_display {
    margin: 2%;
    padding: 2%;
}

.lists__left_panel {
    margin: 2%;
    padding: 5%;
}

.task__container {

}

.list__body {
    padding-bottom: 5px;;
    border: 1px solid black;
    margin: 1px;
    padding-left: 7px;
}

.task__body {
    padding-bottom: 3px;
    padding-left: 7px;
    border: 1px solid orangered;
    margin: 2px;
    border-radius: 15px;
    background-color: rgb(240, 184, 82);
    box-shadow: peru;
}

.task__delete-button {

}
