button {
    border-radius: 13%;
    transition: all .3s;
}

button:hover {
    /*  */
}

.login-butt {
    background-color: darkgreen;
}

.register-butt {
    background-color: darkgreen;
}


.login-butt:hover {
    background-color: rgb(233, 218, 15);
    color: rgb(19, 18, 18);
}

.register-butt:hover {
    background-color: rgb(233, 218, 15);
    color: rgb(19, 18, 18);
}

.demo-butt {
    background-color: darkseagreen;
    transition: all 1.2s;
}

.demo-butt:hover {
    background-color: rgb(178, 187, 178);
    padding: 1px 7px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.login__buttons {
    background-color: darkseagreen;
    color: black;

}

.login__buttons:hover {
    background-color: rgb(90, 81, 224);
}

.cancel__login:hover {
    background-color: rgb(252, 101, 14);
}

.register__button {
    background-color: darkseagreen;

}

.register__button:hover {
    background-color: rgb(90, 81, 224);
}

.cancel__register {
    background-color: darkseagreen;

}

.cancel__register:hover {
    background-color: rgb(252, 101, 14);
}

.logout-button {
    background-color: rgb(252, 207, 86);
    transition: all .7s;

}

.logout-button:hover {
    background-color: rgb(0, 174, 255);
    padding: 20px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.task__delete-button {
    background-color: rgb(4, 124, 94);

}

.task__delete-button:hover {
    background-color: red;

}

.task__edit-button {
    background-color: rgb(4, 124, 94);

}

.task__add-button {

}

.task__add-button:hover {
    background-color: seagreen;
    color: springgreen;
}

.task__edit-button:hover {
    background-color: rgb(28, 238, 9);
}

.list__delete-button::before {
    background-color: rgb(250, 244, 232);
    /* background-color: rgb(4, 124, 94); */
}

.list__edit-button::before {
    background-color: rgb(250, 244, 232);
    /* background-color: rgb(4, 124, 94); */
}

.list__add-button {
    margin-bottom: 11px;

}
.list__delete-button:hover::before {
    background-color: red;

}

.list__edit-button:hover::before {
    background-color: rgb(28, 238, 9);

}

.list__add-button:hover {
    margin-bottom: 11px;
    background-color: seagreen;
    color: springgreen;
}
