body {
    width: 100%;
}

.label {
    display: flex;
    justify-content: center;
    margin: 5px;

}


.buttons{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    font-size: medium;
}

.content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
	grid-template-columns: auto;

}

input{
    margin: 5px;
}

.error {
    border: 1px solid black;
    border-radius: 5px;
    height:fit-content;
    width:fit-content;
    background-color: white;

}

.error-header {
    color: black;
}

ul{
    list-style-type: square;
    list-style-type: style color black;
    margin: 20px;
    grid-row-start: 2;
}

li {
    margin: 5px;
    color: red;
}