.lists__left_panel {
    margin: 2%;
    padding: 5%;
}

.list__body {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(161, 161, 255);
    font-size: 16px;
}

.list__body:hover {
  transition: 1s;
  background-color: rgb(205, 205, 253);
}

.list__body > p {
  flex-grow: 1;
}

.list__body > p, div {
  white-space: nowrap;
}

.list__input-div {
    display: block;
    font-size: 14px;
    border: 1px #9c9c9c solid;
    border-radius: 5px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding: 1%;
}

.lists__header {
    font-size: 22px;
    text-align: center;
    font-weight: 600;
}

.list__container {
    display: block;
    border: 0px solid rgb(161, 161, 255);
    box-shadow: rgb(72,61,139);
}