.content__login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.top-div-login{
    background-color:rgb(93, 37, 224);
    /* border: 1px solid blue; */
    background-color: #849799;
    grid-row-start: 1;
    height:  100px;
}

/* .logo { <-- not displaying
    border: 1px solid black;
    height: 85px;
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 5px;
    background-image: url('../../photos/taylors-logos.png');
} */


.content__login {
    display: flex;
    justify-content: center;
    margin: 300px;
}

.login-form{
   border: 1px solid black;
   border-radius: 10px;
   height:fit-content;
   width:fit-content;
   padding: 10px;
   background-color: white;
}


.bottom-div-login{
    border: 1px solid blue;
    background-color:blue;
    grid-row-start: 3;
    height:  100px;
    position: relative;
    top:26px;
}


.login__buttons {
    font-size: medium;
}

.error-header {
    position: relative;
    left:auto;
    margin: 10px;
}