
.top-div-login{
    border: 1px solid blue;
    background-color:blue; 
    grid-row-start: 1; 
    height:  100px;
}

.login-form{
   border: 1px solid black; 
   border-radius: 10px;
   height:fit-content;
   width:fit-content;
   padding: 10px;
   grid-row-start: 2;
 
   background-color: white;
   
}

.login-content {
    position: relative;
    left: 
}

.bottom-div-login{
    border: 1px solid blue;
    background-color:blue; 
    grid-row-start: 3; 
    height:  100px;
    position: relative;
    top:26px; 
}
