body{
    height:auto;
}

.top-div{
    border: 1px solid blue;
    /* background-color:blue; */
    grid-row-start: 1;
    height:  100px;
}

.content__center {
    display: flex;
    justify-content: center;

}

.register-form {
   border: 1px solid black;
   border-radius: 10px;
   height:fit-content;
   width:fit-content;
   padding: 10px;
   grid-row-start: 2;
   display:block;
   background-color: white;

}

.footer-top {
    display: flex;
    justify-content:center;
}

.footer-bottom {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
    height: auto;


}

.footer__bottom-icons{
    display:flex;
    justify-content: space-around;


}

a {
    text-decoration: none;
    color:black
}
.name {
    display: flex;
    justify-content:center;
}
