/* search-dropdown.css */
.search {
  background-color: white;
  border: 1px solid #efefef;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 12px;
  padding: 0.5em;
  position: absolute;
  left: 45%;
  top: 51px;
  width: 400px;
}

.search--hidden {
  display: none;
}

.search__section {
  border-top: 1px solid #dedede;
}

.search__section:first-child {
  border-top: none;
}

.search__section-header {
  font-weight: bold;
  margin: 10px;
  text-transform: uppercase;
}

.search__section-link {
  margin: .5em;
  padding: .5em;
  text-transform: uppercase;
}

.search__section-link:hover {
  background-color: #dedede;
}