.top-border{
    height: 30px;
    width: auto;
    border: 1px solid black 
}

h1{
    color:red
}
.splash__header {
    color: orangered;
    margin: auto;
}

.splash {
    display: grid;
    justify-content: center;
}

.splash__title {
    display: flex;
    justify-content: center;
}
