.top-border{
    height: 30px;
    width: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

}

.world-clocks {
    border: 1px solid black ;
    height: 70px;
    width: 70px;
    margin: 10px;
    display: inline-flex;

}

.splash-content {
    grid-row-start: 2;
    border: 1px solid black;
    height: 300px;
    width: 400px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.splash-circle {
    display: flex;
    justify-content: center;
    align-content: center;
}

.splash-content-links-logout-register {
    display: flex;
}

.splash-content-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.splash-welcome {
    display: flex;
}

.splash-content-text {
    grid-row-start: 1;
}

.splash-content-links-logout-register {
    grid-row-start: 2;

}

.login-butt:hover {
    background-color: crimson;
}

.register-butt {

}

.demo-butt {

}
