.tasks__center_display {
    width: 100%;
    margin: 2%;
    padding: 2%;
}

.task__body {
    padding: 0.5vw;
    border: 1px solid rgb(253, 174, 145);
    border-radius: 5px;
    background-color: rgb(250, 244, 232);
    box-shadow: peru;
    font-size: 8px;

}

.task__body .task__text {
    display: inline-block;
    width: 100%;
    color: black;
    line-height: 1%; /*Space between lines of the paragraph */
    font-size: 16px;
    font-weight: bold;
}

.task__body span {
    display: inline-block;
    background-color: brown;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    padding: 1.5%;
    margin: 4px;
    font-size: 12px;
}

.tasks__input-add {
    display: block;
    font-size: 14px;
    border: 1px #9c9c9c solid;
    border-radius: 5px;
    margin-top: 0.5%;
    margin-bottom: 4%;
    padding: 1%;
}

.task__input-div, .task__select-div {
    padding: 0.5%;
}

.tasks__header {
    font-size: 22PX;
    text-align: center;
    font-weight: 600;
}